[data-menu="mobile"] {
  display: none;
}

@media (max-width: 800px) {
  .js [data-menu="mobile"] {
    display: flex;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    position: relative;
    z-index: 1000;
  }

  .js [data-menu="mobile"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    margin-right: 4px;
    transition: transform 0.3s;
  }
  .js [data-menu="mobile"].active::before {
    transform: rotate(90deg);
  }

  .js #menu {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 200;
    top: 0;
    padding: 60px 0 0px 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .js #menu.active {
    display: block;
    animation: showModal 0.3s forwards;
  }

  .js .dropDown-menu {
    position: static;
    border: none;
  }
}
