.numeros {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.numeros-grid {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.numeros-grid h3 {
  font-family: "Playfair Display SC";
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.numeros-grid span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e54;
}

@media (max-width: 700px) {
  .numeros-grid {
    grid-column: 1;
  }
}
